<?xml version="1.0"?>
<!--
/**
* @author      Tsvetan Stoychev <tsvetan.stoychev@bulgento.com>
* @website     http://www.bulgento.com
* @license     http://opensource.org/licenses/osl-3.0.php Open Software Licence 3.0 (OSL-3.0)
*/
-->
<config>
    <sections>
        <carriers>
            <groups>
                <speedy_simple_shipping translate="label" module="speedy_simple_shipping">
                    <label>Speedy Shipping</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>555</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <server translate="label">
                            <label>Server Address</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </server>
                        <api_username translate="label">
                            <label>Username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </api_username>
                        <api_password translate="label">
                            <label>Password</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </api_password>
                        <sender_name>
                            <label>Contact name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </sender_name>
                        <sender_phone_number>
                            <label>Phone number</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </sender_phone_number>
                        <sender_site>
                            <label>Sender Site</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </sender_site>
                        <contents>
                            <label>Package content</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </contents>
                        <default_cod_methods translate="label">
                            <label>Default COD method</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>adminhtml/system_config_source_payment_allmethods</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </default_cod_methods>
                    </fields>
                </speedy_simple_shipping>
            </groups>
        </carriers>
    </sections>
</config>